body {
   display:flex;
   align-items:center;
   justify-content:center;
   background-color:#000000;
   color:#ffffff;
   
     

}

.buttons{
    display:flex;
    align-content:center;
    justify-content:center;
    margin-top:80px;
}

.contentsDetails{
    margin-top:50px;
    
   
}



p {
    text-indent: inherit;
    text-align: justify;
    text-justify: inter-word;
}

.connectionStatus{
    position: absolute;
    top:0;
    right:0;
    margin:35px;
}

h2{
    color:#ffd800;
}

.main{
    margin-top:80px;
}