body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectionStatus {
    position: absolute;
    top: 0;
    right: 0;
    margin: 35px;
}

.moviepreview {
    margin-left: 90px;
    
}

.movieCover{
    margin-top:40px;
}

h2 {
    color: #ffd800;
}

.main {
    margin-top: 70px;
}

.row{
    margin-left:30px;
}